@import '../../../../../styles/variables.scss';

.container {
    border-radius: 8px;
}

.header {
    margin-bottom: $spacing-lg;

    h3 {
        margin: 0;
        font-size: 18px;
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}